<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dota 2 Achievements</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 20px;
    }

    h1 {
      color: #333;
    }

    .achievement {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
      background-color: #fff;
    }

    .achievement img {
      max-width: 100%;
      height: auto;
    }
  </style>
</head>
<body>

  <h1>Dota 2 Achievements</h1>

  <div class="achievement">
    <h2>Achievement Name 1</h2>
    <p>Champion 2018 DOTA 2 TOURNAMENT.</p>
    <img src="https://scontent.fcgm1-1.fna.fbcdn.net/v/t1.6435-9/49089562_2267154539962347_3603659891295649792_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=dd63ad&_nc_eui2=AeHkhJN5Y0cHBqA8T5Cvcgdx9ZOBlQ8BPUf1k4GVDwE9R64sj5bW80KGIJ6CjSwDqUP6ZUco5i84cv2OT5R2iieG&_nc_ohc=_f8yMBbX3HoAX-Td7R5&_nc_ht=scontent.fcgm1-1.fna&oh=00_AfD0bZJkeN2MlMMgkONaHAZN705rQLzrUXcuHHczAJZmlg&oe=65AA550E" alt="Achievement 1">
  </div>

  <div class="achievement">
    <h2>Achievement Name 2</h2>
    <p>Championship Game 2019 best of 3... Goodluck.</p>
    <img src="https://scontent.fcgm1-1.fna.fbcdn.net/v/t1.6435-9/80004061_2931862560158205_6552114391213408256_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=dd63ad&_nc_eui2=AeELwPwHieWRlXjNlZ-Co1qDxCCVTx6IuZ7EIJVPHoi5nh1GaehSVeQDIiuoG9CYryxJN74EJV0TCdE579IFDHlF&_nc_ohc=hUOCPK_rv9UAX8ZPql4&_nc_ht=scontent.fcgm1-1.fna&oh=00_AfDNx4dD9NTJN2Kmj4BuMFp-xVCWnHu5ugFYFcELd_C63w&oe=65AA333B" alt="Achievement 2">
  </div>

  <!-- Add more achievements as needed -->

</body>
</html>
